.table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
}

.subtable {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.cell:nth-child(odd) {
  background-color: antiquewhite;
}